{% extends 'core/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

<html>
<head>
	<title>О нас</title>
	<style>
		body {
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
		}
		h1 {
			text-align: center;
			font-size: 3em;
			margin-top: 50px;
		}
		p {
			font-size: 1.2em;
			margin: 20px;
			line-height: 1.5em;
		}
		ul {
			margin: 20px;
			padding: 0;
			list-style: none;
		}
		li {
			margin-bottom: 10px;
			font-size: 1.2em;
			line-height: 1.5em;
		}
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
		}
	</style>
</head>
<body>
	<h1>О нас</h1>
	<p>Мы - команда, которые занимаются разработкой программного обеспечения.</p>
	<p>Наша команда состоит из двух студентов.</p>
	<p>Мы стремимся создать качественный продукт, который удовлетворит потребности наших клиентов и способствует
		автоматизации процессов.</p>
	<p>Свяжитесь с нами, если у вас есть какие-либо вопросы или предложения.</p>
	<ul>
		<li>Телефон:</li>
		<li>+7(996)720-79-73 Антипов Артём Дмитриевич</li>
		<li>+7(909)663-92-75 Дроздов Никита Андреевич</li>
		<li>Email:</li>
		<li>artemantipov08102003@mail.ru</li>
		<li>n01i02k04@yandex.ru</li>
	</ul>
</body>
</html>
{% endblock %}